<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   <footer class="bg-[#28328c] text-white py-10">
  <section class="max-w-6xl mx-auto grid md:grid-cols-6 gap-6 text-sm text-gray-600">
    <div class="text-white">
      <span class="font-semibold text-gray-800 block mb-2 text-white font-bold ">Practo</span>
      <a href="#" target="_blank">About</a><br>
      <a href="#" target="_blank">Blog</a><br>
      <a href="#" target="_blank">Careers</a><br>
      <a href="#" target="_blank">Press</a><br>
      <a href="#" target="_blank">Contact Us</a>
    </div>

    <div class="text-white">
      <span class="font-semibold text-gray-800 block mb-2 text-white">For patients</span>
      <a href="#">Search for doctors</a><br>
      <a href="#">Search for clinics</a><br>
      <a href="#">Search for hospitals</a><br>
      <a href="#">Book Diagnostic Tests</a><br>
      <a href="#">Book Full Body Checkups</a><br>
      <a href="#">Practo Plus</a><br>
      <a href="#">Covid Hospital listing</a><br>
      <a href="#">Practo Care Clinics</a><br>
      <a href="#">Read health articles</a><br>
      <a href="#">Read about medicines</a><br>
      <a href="#">Practo drive</a><br>
      <a href="#">Health app</a>
    </div>

    <div class="text-white">
      <span class="font-semibold text-gray-800 block mb-2 text-white">For doctors</span>
      <a href="#">Practo Profile</a><br>
      <a href="#">For clinics</a><br>
      <a href="#">Ray by Practo</a><br>
      <a href="#">Practo Reach</a><br>
      <a href="#">Ray Tab</a><br>
      <a href="#">Practo Pro</a>
    </div>

    <div class="text-white">
      <span class="font-semibold text-gray-800 block mb-2 text-white">For hospitals</span>
      <a href="#">Insta by Practo</a><br>
      <a href="#">Qikwell by Practo</a><br>
      <a href="#">Practo Profile</a><br>
      <a href="#">Practo Reach</a><br>
      <a href="#">Practo Drive</a><br>
      <a href="#">For Corporates</a><br>
      <a href="#">Wellness Plans</a>
    </div>

    <div class="text-white">
      <span class="font-semibold text-gray-800 block mb-2 text-white">More</span>
      <a href="#">Help</a><br>
      <a href="#">Developers</a><br>
      <a href="#">Privacy Policy</a><br>
      <a href="#">Terms & Conditions</a><br>
      <a href="#">PCS T&C</a><br>
      <a href="#">Healthcare Directory</a><br>
      <a href="#">Practo Health Wiki</a>
    </div>

    <div class="text-white">
      <span class="font-semibold text-gray-800 block mb-2 text-white">Social</span>
      <a href="#">Facebook</a><br>
      <a href="#">Twitter</a><br>
      <a href="#">LinkedIn</a><br>
      <a href="#">YouTube</a><br>
      <a href="#">GitHub</a>
    </div>
  </section>


  <div class="text-center mt-10  pt-6">
  <h2 class="text-6xl font-bold text-white mb-2">Practo</h2>
  <p class="text-gray-300 text-sm">Copyright © 2017, Practo. All rights reserved.</p>
</div>
</footer>

</body>

</html>